body {
   background-color: #232323;
	font-size: 14px; 
	font-size: 1rem;  /* =14px */
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
}

#container {
	margin: 0px auto;
	max-width: 42.86rem;
}

h1 {
   color: white;
}

#menu-stripe {
	background-color: white;
	text-align: center;
	height: 30px;
	color: black;
}

.selected-mode {
background: blue;
}